{
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-svelte"],
    "svelteStrictMode": true,
    "svelteAllowShorthand": true,
    "svelteBracketNewLine": true,
    "svelteIndentScriptAndStyle": true,
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
